body {
    background-size:100%;
    background-position: center;
}

.centeredLoginForm{
	
	width: 25%; 
	margin:13% 35%;
}

.centeredregisterForm{
	
	width:40%; 
	margin:10% 25%;
}

.activationPanel{
	width:40%; 
	margin:10% 25%;
}
