@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

.index-bg {
	background: url(../images/bg_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-bg {
	background: url(../images/bg_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.error-bg {
	background: url(../images/err.png) no-repeat center center fixed; 
}

#divLogin {
	padding-left: 38%;
	width: 20%;
	padding-top: 9%;
}

#footer {
	bottom: 0;
	width: 99%;
	height: 8%; 
	border-top: 1px solid #d3d7d8;
	background-color: #474e5d;
	color: #bdc3c7;
	text-align: center;
}

#footer p {
	margin-top: 1.5%;
	font-family: 'lato', sans-serif;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
}
#divRegister {
	padding-left: 38%;
	width: 20%;
	padding-top: 2%;
}



#frmContent{
	height: 400px;
}

h1 {
	color: #00004d;
	text-shadow: 2px 2px;
}

#loginForm {
	margin-left: auto;
	margin-right: auto;
	width: 343px;
	height: 333px;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, .2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	overflow: hidden;
}

#registerForm{
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, .2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	overflow: hidden;
}

.activationPanel{
	width:40%; 
	margin:10% 25%;
}

.layoutHome{
	height: 830px;	
}

.frmContent{
	padding-top: 0px;
}
.pnlContent{
	height: 830px;	
	padding: 0px;
}
.contentForm{
	height: 830px;	
	padding: 0px;
}


.header {
	position: absolute;
	background-color: #fff;
	z-index: 100;
	border-bottom: 1px solid #d3d7d8;
	min-height: 50px;
	width: 100%;
	font-size: 100%;
	height: 8%;
}
#tabView {
    padding-left: -13px;
    margin-top: -19px;
    margin-left: 1px;
    margin-right: 2px;
   padding-bottom: 209px;
}
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    margin-left:10px;
}


.ui-tabs.ui-tabs-top>.ui-tabs-nav {
    padding: 0.2em 2.2em 1px;
}

.ui-tree .ui-tree-container {
    white-space: nowrap;
}

.ui-tree {
    width: 277px;
    border: 0px solid #fff;
    height: 97%;
}
.ui-tabs .ui-tabs-nav li a {
    float: right;
    padding: 0.3em 1em;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #008df5;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #4f4f4f;
    text-decoration: none;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.8);
}

.ui-widget-header {
    border: 1px solid #ffffff;
    /* background: #ffffff url(/CaveatEmptorProject-Web/faces/javax.faces.resource/images/header.png?ln=primefaces-bluesky) repeat-x; */
    color: #000000;
    font-weight: bold;
    padding: 0px 2px 4px 4px;
    margin: 0 0 0px -33px;
}


.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active {
    border-color: #5777d4 #5777d4 transparent #5777d4 !important;
    border: 1px solid #5777d4 !important;
}
.ui-tree .ui-treenode-label {
    display: inline-block;
    margin: 2px 0 0 0;
    vertical-align: top;
    padding: 0 3px;
    font-size: 16px;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    position: relative;
    margin: 0 .2em 1px 0;
    padding: 0;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #bed6f8;
    background: #c6deff url(/CaveatEmptorProject-Web/faces/javax.faces.resource/images/default.png?ln=primefaces-bluesky) repeat-x;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    font-size: 14px;
}
.ui-widget .ui-widget {
    font-size: 15px !important;
}
.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 1em 1.4em;
    background: 0;
    height: 505px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1.5em;
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
    background-color: white;
}
.ui-button {
    display: inline-block;
    position: relative;
    padding: 0px;
    overflow: visible;
    margin-left: 35px;
}
.ui-button-text-only .ui-button-text {
    padding: 0.3em 2em;
}
.ui-icon {
    width: 16px;
    height: 18px;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
    position: absolute;
    top: 52%;
    margin-top: -9px;
    margin-left: -11px;
}
.ui-button-icon-only {
    width: 2.45em !important;
}
.ui-icon-check {
    background-position: -61px -144px !important;
    zoom: 1.4;
    width: 17px;
    padding: 1px 4px 0px 2px;

}

.ui-icon-closethick {
    background-position: -93px -128px !important;
    zoom: 1.4;
    padding: 1px 6px 0 0;

}
.ui-button-icon-only {
    width: 3.4em;
}
.ui-icon-close {
    background-position: -80px -128px;
    zoom: 1.4;
}
.ui-icon-home {
    background-position: 0 -112px;
    margin: 20px -33px -2px 0px;
}
.ui-breadcrumb {
    overflow: hidden;
    padding: 5px 5px 7px 5px;
    background-color: none;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 0.4em 0.4em 3em;
    position: relative;
    border: 0;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: -0.8em 0px;
    margin: 0 0 0 0px;
}